In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('E:\\Python\Data\\1000 educational data_final.csv')

In [5]:
df.head()

,math_score,science_score,reading_score,final_marks,employment_status,religion,geographic_info,teaching_method,teaching_materials,technology_use,passed,attendance_rate,class_participation,assignment_completed,presentation_marks,group_work,field_work,graduation_status,scholarship,online_learning
0,68.53,52.05,37.35,323.10,0,Christian,Rural,constructivist,No use,0,1,70,2,0,4,2,13,1,1,0
1,43.47,23.83,23.88,292.62,0,Buddhist,Urban,modern,No use,0,1,44,9,3,8,1,7,0,1,0
2,61.05,64.08,50.39,325.49,1,Buddhist,Urban,constructivist,digital resource,1,1,79,8,8,5,8,17,1,0,1
3,62.65,50.01,26.38,428.42,0,Others,Rural,traditional,hands-on,1,1,43,2,6,7,7,6,0,0,0
4,58.67,30.86,51.66,327.54,0,Buddhist,Urban,constructivist,No use,0,1,90,3,4,10,3,2,1,0,1

In [6]:
df.info

<bound method DataFrame.info of      math_score  science_score  reading_score  final_marks  employment_status  \
0         68.53          52.05          37.35       323.10                  0
1         43.47          23.83          23.88       292.62                  0
2         61.05          64.08          50.39       325.49                  1
3         62.65          50.01          26.38       428.42                  0
4         58.67          30.86          51.66       327.54                  0
..          ...            ...            ...          ...                ...
995       55.46          55.98          60.31       347.90                  0
996       63.45          62.00          29.93       300.11                  1
997       44.20          54.68          47.80       374.07                  0
998       64.60          64.39          17.29       425.04                  1
999       39.88          60.49          77.12       335.81                  0

      religion geographic_info teaching_method teaching_materials  \
0    Christian           Rural  constructivist             No use
1     Buddhist           Urban          modern             No use
2     Buddhist           Urban  constructivist   digital resource
3       Others           Rural     traditional           hands-on
4     Buddhist           Urban  constructivist             No use
..         ...             ...             ...                ...
995     Others           Rural          modern           hands-on
996     Others           Urban          modern           hands-on
997     Others           Rural          modern           hands-on
998  Christian           Urban          modern           hands-on
999     Others           Rural     traditional             No use

     technology_use  passed  attendance_rate  class_participation  \
0                 0       1               70                    2
1                 0       1               44                    9
2                 1       1               79                    8
3                 1       1               43                    2
4                 0       1               90                    3
..              ...     ...              ...                  ...
995               0       1               92                   10
996               0       1               43                    2
997               1       1               49                    8
998               0       1               65                    6
999               0       1               79                    2

     assignment_completed  presentation_marks  group_work  field_work  \
0                       0                   4           2          13
1                       3                   8           1           7
2                       8                   5           8          17
3                       6                   7           7           6
4                       4                  10           3           2
..                    ...                 ...         ...         ...
995                     0                   5           0           9
996                     5                   4           7           5
997                     3                   3           1          13
998                     3                   5           3           8
999                     0                   5           3          17

     graduation_status  scholarship  online_learning
0                    1            1                0
1                    0            1                0
2                    1            0                1
3                    0            0                0
4                    1            0                1
..                 ...          ...              ...
995                  1            1                1
996                  1            0                0
997                  1            0                1
998                  1            0                1
999                  1            0                0

[1000 rows x 20 columns]>

In [7]:
df.describe()

,math_score,science_score,reading_score,final_marks,employment_status,technology_use,passed,attendance_rate,class_participation,assignment_completed,presentation_marks,group_work,field_work,graduation_status,scholarship,online_learning
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,54.689740,50.731780,49.941560,350.912240,0.477000,0.495000,0.968000,70.792000,5.275000,5.266000,5.040000,4.996000,10.294000,0.512000,0.543000,0.486000
std,15.297087,12.041751,20.056374,52.255651,0.499721,0.500225,0.176088,17.537397,3.177967,3.145018,3.160124,3.093793,6.048483,0.500106,0.498397,0.500054
min,10.000000,10.000000,1.000000,183.850000,0.000000,0.000000,0.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,44.537500,42.715000,35.792500,316.450000,0.000000,0.000000,1.000000,55.750000,2.000000,3.000000,2.000000,2.000000,5.000000,0.000000,0.000000,0.000000
50%,54.930000,51.035000,50.615000,350.105000,0.000000,0.000000,1.000000,71.000000,5.000000,5.000000,5.000000,5.000000,10.000000,1.000000,1.000000,0.000000
75%,65.725000,58.782500,63.855000,386.225000,1.000000,1.000000,1.000000,86.000000,8.000000,8.000000,8.000000,8.000000,15.000000,1.000000,1.000000,1.000000
max,95.000000,85.110000,100.000000,500.000000,1.000000,1.000000,1.000000,100.000000,10.000000,10.000000,10.000000,10.000000,20.000000,1.000000,1.000000,1.000000

In [8]:
df.columns

Index(['math_score', 'science_score', 'reading_score', 'final_marks',
       'employment_status', 'religion', 'geographic_info', 'teaching_method',
       'teaching_materials', 'technology_use', 'passed', 'attendance_rate',
       'class_participation', 'assignment_completed', 'presentation_marks',
       'group_work', 'field_work', 'graduation_status', 'scholarship',
       'online_learning'],
      dtype='object')

In [9]:
df['passed'].view

<bound method Series.view of 0      1
1      1
2      1
3      1
4      1
      ..
995    1
996    1
997    1
998    1
999    1
Name: passed, Length: 1000, dtype: int64>

In [10]:
df['passed'].head(100)

0     1
1     1
2     1
3     1
4     1
     ..
95    1
96    1
97    1
98    0
99    1
Name: passed, Length: 100, dtype: int64

In [11]:
df['passed'].tail(100)

900    1
901    1
902    1
903    1
904    1
      ..
995    1
996    1
997    1
998    1
999    1
Name: passed, Length: 100, dtype: int64

In [12]:
df['passed'].unique()

array([1, 0], dtype=int64)

In [17]:
df[df['passed'] == 0].value_counts()

math_score  science_score  reading_score  final_marks  employment_status  religion   geographic_info  teaching_method  teaching_materials  technology_use  passed  attendance_rate  class_participation  assignment_completed  presentation_marks  group_work  field_work  graduation_status  scholarship  online_learning
22.46       48.85          85.29          211.74       0                  Buddhist   Rural            traditional      No use              0               0       62               4                    7                     0                   10          2           0                  0            1                  1
29.15       45.65          35.81          213.41       0                  Others     Rural            modern           hands-on            1               0       86               1                    4                     4                   4           12          0                  1            1                  1
80.42       41.57          67.04          236.51       1                  Buddhist   Urban            constructivist   No use              1               0       47               9                    6                     9                   4           9           0                  1            1                  1
78.15       56.64          25.80          244.84       1                  Hindu      Urban            traditional      hands-on            1               0       50               7                    9                     7                   2           1           0                  1            1                  1
77.06       61.21          64.37          232.63       1                  Buddhist   Rural            traditional      hands-on            0               0       63               3                    8                     2                   2           8           0                  1            0                  1
72.16       53.50          11.94          245.75       1                  Others     Rural            traditional      digital resource    1               0       82               6                    5                     4                   9           7           0                  1            0                  1
70.73       51.62          28.37          220.85       0                  Christian  Urban            constructivist   hands-on            1               0       88               9                    0                     4                   8           13          0                  0            0                  1
69.44       63.00          16.74          246.34       1                  Christian  Urban            constructivist   No use              0               0       96               7                    7                     4                   9           10          0                  0            1                  1
67.17       64.45          15.34          227.40       1                  Buddhist   Urban            traditional      digital resource    1               0       83               9                    0                     9                   3           0           0                  1            1                  1
64.92       59.74          9.59           188.06       0                  Others     Rural            constructivist   digital resource    1               0       80               10                   9                     10                  1           16          0                  1            0                  1
62.46       42.89          13.87          217.97       1                  Christian  Rural            traditional      No use              0               0       100              2                    2                     2                   8           10          0                  1            1                  1
61.29       44.83          46.43          237.87       0                  Buddhist   Rural            constructivist   hands-on            0               0       100              6                    1                     8                   3           2           1                  1            0                  1
60.72       23.92          59.97          192.96       0                  Hindu      Rural            traditional      digital resource    1               0       76               3                    1                     1                   7           3           0                  0            0                  1
60.25       82.92          47.82          239.42       1                  Others     Rural            constructivist   hands-on            1               0       58               0                    9                     4                   2           0           1                  1            1                  1
59.03       35.93          57.30          204.14       0                  Hindu      Urban            modern           No use              1               0       53               5                    2                     9                   10          12          1                  1            1                  1
56.39       54.30          36.53          242.37       0                  Buddhist   Urban            traditional      hands-on            1               0       44               0                    4                     6                   10          5           0                  1            0                  1
56.27       43.88          49.67          245.95       1                  Christian  Rural            modern           No use              1               0       98               0                    2                     7                   6           10          1                  1            1                  1
56.07       72.87          52.45          248.80       1                  Others     Urban            constructivist   digital resource    1               0       73               6                    2                     8                   7           17          0                  1            1                  1
53.47       58.72          78.56          212.51       1                  Buddhist   Urban            traditional      hands-on            0               0       61               6                    7                     5                   8           19          1                  1            1                  1
51.55       54.99          31.30          210.61       0                  Hindu      Urban            modern           digital resource    1               0       97               10                   1                     5                   8           13          0                  0            0                  1
51.02       52.82          26.07          249.13       1                  Others     Rural            constructivist   digital resource    1               0       71               4                    6                     6                   6           16          0                  0            0                  1
50.69       51.34          60.61          246.97       0                  Others     Rural            modern           No use              1               0       72               6                    3                     5                   4           17          0                  0            0                  1
49.40       49.21          43.44          228.27       1                  Others     Urban            modern           digital resource    0               0       93               3                    9                     2                   8           16          1                  0            0                  1
49.17       62.75          57.22          189.80       0                  Buddhist   Urban            traditional      No use              1               0       76               3                    2                     5                   6           10          0                  1            0                  1
48.70       27.79          67.55          237.80       0                  Christian  Rural            constructivist   hands-on            0               0       81               6                    1                     7                   5           13          1                  1            0                  1
46.17       40.88          51.45          242.78       1                  Christian  Rural            modern           No use              1               0       99               9                    5                     9                   2           9           1                  1            1                  1
41.68       48.62          71.20          222.16       1                  Christian  Urban            modern           No use              1               0       74               7                    9                     1                   7           8           0                  0            1                  1
40.76       54.20          65.36          246.32       1                  Others     Urban            modern           hands-on            1               0       80               5                    9                     10                  4           0           0                  0            1                  1
37.67       52.61          25.35          237.77       0                  Others     Rural            constructivist   No use              1               0       98               4                    9                     3                   9           4           0                  0            1                  1
35.35       34.26          29.93          222.26       0                  Others     Urban            traditional      No use              1               0       51               8                    5                     10                  10          2           0                  0            0                  1
32.92       24.01          97.24          216.89       1                  Others     Rural            modern           No use              0               0       97               3                    4                     4                   8           7           1                  0            0                  1
85.79       42.27          53.22          183.85       0                  Hindu      Urban            traditional      No use              0               0       89               9                    8                     7                   7           15          0                  1            1                  1
Name: count, dtype: int64

In [18]:
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold, RepeatedKFold
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
import numpy as np
import pandas as pd

In [19]:
X = df[['final_marks']]
y = df['passed']

X.shape, y.shape

((1000, 1), (1000,))

In [22]:
## Preprocessing for Numerical Data 

numeric_transformer = Pipeline(steps=[('scaler', StandardScaler())])

## Define the Models

In [23]:
svm_model = Pipeline(steps = [('preprocessor', numeric_transformer), ('classifier', SVC())])
logistic_model = Pipeline(steps = [('preprocessor', numeric_transformer), ('classifier', LogisticRegression())])

## Splitting the data into training and testing sets

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(800, 1) (200, 1) (800,) (200,)

## Train and Evaluate SVM Model

In [26]:
svm_model.fit(X_train, y_train)
y_pred_svm = svm_model.predict(X_test)  # Predicting the test set results
svm_accuracy = accuracy_score(y_test, y_pred_svm) # Calculating the accuracy of the model
print(y_pred_svm)
print(svm_accuracy)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
1.0

## Train and Evaluation Logistic Regression Model

In [27]:
logistic_model.fit(X_train, y_train)
y_pred_logistic = logistic_model.predict(X_test)  # Predicting the test set results
logistic_accuracy = accuracy_score(y_test, y_pred_logistic) # Calculating the accuracy of the model 
print(y_pred_logistic)
print(logistic_accuracy)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
0.995

## Cross Validation

### Performing k-fold cross validation

In [28]:
svm_score = cross_val_score(svm_model, X, y, cv=10)
print(svm_score)

[0.99 1.   1.   1.   1.   1.   0.99 1.   1.   1.  ]

In [29]:
svm_mean_score = np.mean(svm_score)
svm_mean_score

0.998

In [30]:
logistic_score = cross_val_score(logistic_model, X, y, cv = 10)
logistic_score

array([0.99, 0.98, 0.98, 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 0.98])

In [32]:
logistic_mean_score = np.mean(logistic_score)
logistic_mean_score

0.993

## Stratified KFold Cross Validation

In [33]:
skf = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)
svm_score_skf = cross_val_score(svm_model, X, y, cv=skf)
svm_mean_score_skf = np.mean(svm_score_skf)
print(svm_score_skf)
print(svm_mean_score_skf)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
1.0

In [34]:
skf = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)
logistic_score_skf = cross_val_score(logistic_model, X, y, cv=skf)
logistic_mean_score_skf = np.mean(logistic_score_skf)
print(logistic_score_skf)
print(logistic_mean_score_skf)

[0.98 1.   1.   1.   0.99 0.99 0.99 0.98 0.99 1.  ]
0.992

## Repeated KFold Cross Validation

In [35]:
rkf = RepeatedKFold(n_splits=10, n_repeats=10, random_state=42)
svm_score_rkf = cross_val_score(svm_model, X, y, cv=rkf)
svm_mean_score_rkf = np.mean(svm_score_rkf)
print(svm_score_rkf)
print(svm_mean_score_rkf)

[1.   1.   1.   1.   0.99 1.   1.   1.   1.   1.   1.   1.   1.   1.
 1.   1.   1.   1.   0.99 1.   1.   1.   1.   1.   0.99 1.   1.   1.
 1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.
 1.   1.   1.   1.   1.   0.99 1.   1.   1.   1.   1.   0.99 0.99 1.
 0.99 1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   0.98 1.
 1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.
 1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.
 1.   1.  ]
0.9991

In [36]:
rkf = RepeatedKFold(n_splits=10, n_repeats=10, random_state=42)
logistic_score_rkf = cross_val_score(logistic_model, X, y, cv=rkf)
logistic_mean_score_rkf = np.mean(logistic_score_rkf)
print(logistic_score_rkf)
print(logistic_mean_score_rkf)

[0.98 1.   0.99 1.   1.   0.96 1.   1.   0.98 1.   1.   1.   0.98 1.
 0.98 0.99 0.99 0.99 0.99 1.   1.   1.   1.   1.   1.   0.99 0.99 1.
 0.97 0.98 0.98 1.   0.99 1.   0.99 0.97 1.   1.   1.   1.   0.99 0.98
 1.   0.98 1.   1.   0.99 1.   0.99 0.99 1.   0.99 1.   0.96 1.   1.
 0.97 1.   0.99 1.   0.98 1.   0.99 1.   0.97 0.99 1.   1.   1.   0.99
 1.   0.99 0.98 1.   1.   0.99 0.99 0.98 1.   0.99 0.99 0.99 0.99 0.99
 1.   1.   0.97 1.   0.99 1.   0.99 0.99 1.   1.   1.   0.99 1.   0.95
 0.99 1.  ]
0.9919

## Compiling all into a DataFrame

In [38]:
results = pd.DataFrame({'Method':
    ['Train-Test Split', 
     'K-Fold Cross Validation',
     'StratifiedKFold Cross Validation',
     'RepeatedKFold Cross Validation'],
    'SVM Accuracy': [
        svm_accuracy,
        svm_mean_score,
        svm_mean_score_skf,
        svm_mean_score_rkf
    ],
    'Logistic Regression Accuracy': [
        logistic_accuracy, 
        logistic_mean_score,
        logistic_mean_score_skf,
        logistic_mean_score_rkf
    ]})

print(results)

                             Method  SVM Accuracy  \
0                  Train-Test Split        1.0000
1           K-Fold Cross Validation        0.9980
2  StratifiedKFold Cross Validation        1.0000
3    RepeatedKFold Cross Validation        0.9991

   Logistic Regression Accuracy
0                        0.9950
1                        0.9930
2                        0.9920
3                        0.9919

## Leave One Out Cross Validation (LOOCV)

In [40]:
from sklearn.model_selection import LeaveOneOut

In [43]:
loo =LeaveOneOut()
svm_score_loo = cross_val_score(svm_model, X, y, cv = loo)
svm_mean_score_loo = np.mean(svm_score_loo)
print(svm_score_loo)
print(svm_mean_score_loo)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
0.999

In [45]:
#For logistic Regression
loo =LeaveOneOut()
logistic_score_loo = cross_val_score(logistic_model, X, y, cv = loo)
logistic_mean_score_loo = np.mean(logistic_score_loo)
print(logistic_score_loo)
print(logistic_mean_score_loo)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
0.992

In [48]:
X.iloc[100], y.iloc[100]

(final_marks    385.57
 Name: 100, dtype: float64,
 1)

====================================================

In [49]:
from sklearn.model_selection import LeaveOneOut
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
import numpy as np 
import pandas as pd

In [50]:
file = 'E:\\Python\Data\\1000 educational data_final.csv'
df = pd.read_csv(file)
df.head()

,math_score,science_score,reading_score,final_marks,employment_status,religion,geographic_info,teaching_method,teaching_materials,technology_use,passed,attendance_rate,class_participation,assignment_completed,presentation_marks,group_work,field_work,graduation_status,scholarship,online_learning
0,68.53,52.05,37.35,323.10,0,Christian,Rural,constructivist,No use,0,1,70,2,0,4,2,13,1,1,0
1,43.47,23.83,23.88,292.62,0,Buddhist,Urban,modern,No use,0,1,44,9,3,8,1,7,0,1,0
2,61.05,64.08,50.39,325.49,1,Buddhist,Urban,constructivist,digital resource,1,1,79,8,8,5,8,17,1,0,1
3,62.65,50.01,26.38,428.42,0,Others,Rural,traditional,hands-on,1,1,43,2,6,7,7,6,0,0,0
4,58.67,30.86,51.66,327.54,0,Buddhist,Urban,constructivist,No use,0,1,90,3,4,10,3,2,1,0,1

In [52]:
X = df[['final_marks', 'math_score', 'reading_score', 'science_score']]
y = df['passed']
X.shape, y.shape

((1000, 4), (1000,))

In [53]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

## Intializing the One Leave Out Cross Validation

In [54]:
loo = LeaveOneOut()
loo

LeaveOneOut()

In [66]:
svm_accuracy = []
logistic_accuracy = []

## Performing LOOCV

In [91]:
for train_index, test_index in loo.split(X_scaled):
    X_train, X_test = X_scaled[train_index], X_scaled[test_index]
    y_train, y_test = y[train_index], y[test_index]

In [92]:
print(train_index)

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539
 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557
 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575
 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593
 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611
 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629
 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647
 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665
 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683
 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701
 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719
 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737
 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755
 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773
 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791
 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809
 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827
 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845
 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863
 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881
 882 883 884 885 886 887 888 889 890 891 892 893 894 895 896 897 898 899
 900 901 902 903 904 905 906 907 908 909 910 911 912 913 914 915 916 917
 918 919 920 921 922 923 924 925 926 927 928 929 930 931 932 933 934 935
 936 937 938 939 940 941 942 943 944 945 946 947 948 949 950 951 952 953
 954 955 956 957 958 959 960 961 962 963 964 965 966 967 968 969 970 971
 972 973 974 975 976 977 978 979 980 981 982 983 984 985 986 987 988 989
 990 991 992 993 994 995 996 997 998]

In [93]:
test_index

array([999])

In [94]:
X_test

array([[-0.28915144, -0.96862562,  1.35578045,  0.81077104]])

## Train and Evaluate Models

In [106]:
for train_index, test_index in loo.split(X_scaled):
    X_train, X_test = X_scaled[train_index], X_scaled[test_index]
    y_train, y_test = y[train_index], y[test_index] 
    svm_model = SVC() 
    svm_model.fit(X_train, y_train) 
    y_pred_svm = svm_model.predict(X_test)
    svm_accuracy.append(accuracy_score(y_test, y_pred_svm))
print(svm_accuracy)

[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]

In [108]:
svm_mean_score = np.mean(svm_accuracy)
svm_mean_score

0.9901283316880553

In [107]:
for train_index, test_index in loo.split(X_scaled):
    X_train, X_test = X_scaled[train_index], X_scaled[test_index]
    y_train, y_test = y[train_index], y[test_index] 
    logistic_model = LogisticRegression()
    logistic_model.fit(X_train, y_train) 
    y_pred_logistic = logistic_model.predict(X_test)
    logistic_accuracy.append(accuracy_score(y_test, y_pred_logistic))
print(logistic_accuracy)

[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]

In [111]:
logistic_mean_score = np.mean(logistic_accuracy)
logistic_mean_score

0.9940119760479041

In [79]:
from sklearn.model_selection import LeaveOneOut
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd

# Load the dataset
file = 'E:\\Python\Data\\1000 educational data_final.csv'
df = pd.read_csv(file)

# Define the features and target variable
X = df[['final_marks', 'math_score', 'reading_score', 'science_score']]
y = df['passed']

# Scale the numerical data
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Initialize LeaveOneOut cross-validator
loo = LeaveOneOut()

# Lists to store accuracy for each iteration
svm_accuracies = []
logistic_accuracies = []

# Perform LOOCV
for train_index, test_index in loo.split(X_scaled):
    X_train, X_test = X_scaled[train_index], X_scaled[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    
    # Train and evaluate SVM
    svm_model = SVC()
    svm_model.fit(X_train, y_train)
    y_pred_svm = svm_model.predict(X_test)
    svm_accuracies.append(accuracy_score(y_test, y_pred_svm))
    
    # Train and evaluate Logistic Regression
    logistic_model = LogisticRegression(max_iter=1000)
    logistic_model.fit(X_train, y_train)
    y_pred_logistic = logistic_model.predict(X_test)
    logistic_accuracies.append(accuracy_score(y_test, y_pred_logistic))

# Calculate mean accuracy
svm_mean_accuracy = np.mean(svm_accuracies)
logistic_mean_accuracy = np.mean(logistic_accuracies)

print("SVM Mean Accuracy:", svm_mean_accuracy)
print("Logistic Regression Mean Accuracy:", logistic_mean_accuracy)

SVM Mean Accuracy: 0.99
Logistic Regression Mean Accuracy: 0.994

In [81]:
X_test

array([[-0.28915144, -0.96862562,  1.35578045,  0.81077104]])

In [83]:
test_index

array([999])

# Choosing Specific Test Value

In [113]:
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd

# Load the dataset
file = 'E:\\Python\\Data\\1000 educational data_final.csv'  # Update the path as necessary
df = pd.read_csv(file)

# Define the features and target variable
X = df[['final_marks', 'math_score', 'reading_score', 'science_score']]
y = df['passed']

# Scale the numerical data
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Specify the index of the test sample
test_index = 0  # Replace with the index you want to test

# Split the data
X_test = X_scaled[test_index].reshape(1, -1)
y_test = y.iloc[test_index]

X_train = np.delete(X_scaled, test_index, axis=0)
y_train = y.drop(index=test_index)

# Train and evaluate SVM
svm_model = SVC()
svm_model.fit(X_train, y_train)
y_pred_svm = svm_model.predict(X_test)
svm_accuracy = accuracy_score([y_test], y_pred_svm)

# Train and evaluate Logistic Regression
logistic_model = LogisticRegression(max_iter=1000)
logistic_model.fit(X_train, y_train)
y_pred_logistic = logistic_model.predict(X_test)
logistic_accuracy = accuracy_score([y_test], y_pred_logistic)

print("SVM Accuracy for test sample:", svm_accuracy)
print("Logistic Regression Accuracy for test sample:", logistic_accuracy)

SVM Accuracy for test sample: 1.0
Logistic Regression Accuracy for test sample: 1.0

In [114]:
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd

# Load the dataset
file = 'E:\\Python\\Data\\1000 educational data_final.csv'  # Update the path as necessary
df = pd.read_csv(file)

# Define the features and target variable
X = df[['final_marks', 'math_score', 'reading_score', 'science_score']]
y = df['passed']

# Scale the numerical data
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Specify the index of the test sample
test_index = 2  # Replace with the index you want to test

# Split the data
X_test = X_scaled[test_index].reshape(1, -1)
y_test = y.iloc[test_index]

X_train = np.delete(X_scaled, test_index, axis=0)
y_train = y.drop(index=test_index)

# Train and evaluate SVM
svm_model = SVC()
svm_model.fit(X_train, y_train)
y_pred_svm = svm_model.predict(X_test)
svm_accuracy = accuracy_score([y_test], y_pred_svm)

# Train and evaluate Logistic Regression
logistic_model = LogisticRegression(max_iter=1000)
logistic_model.fit(X_train, y_train)
y_pred_logistic = logistic_model.predict(X_test)
logistic_accuracy = accuracy_score([y_test], y_pred_logistic)

print("SVM Accuracy for test sample:", svm_accuracy)
print("Logistic Regression Accuracy for test sample:", logistic_accuracy)

SVM Accuracy for test sample: 1.0
Logistic Regression Accuracy for test sample: 1.0

In [115]:
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd

# Load the dataset
file = 'E:\\Python\\Data\\1000 educational data_final.csv'  # Update the path as necessary
df = pd.read_csv(file)

# Define the features and target variable
X = df[['final_marks', 'math_score', 'reading_score', 'science_score']]
y = df['passed']

# Scale the numerical data
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Specify the index of the test sample
test_index = 999  # Replace with the index you want to test

# Split the data
X_test = X_scaled[test_index].reshape(1, -1)
y_test = y.iloc[test_index]

X_train = np.delete(X_scaled, test_index, axis=0)
y_train = y.drop(index=test_index)

# Train and evaluate SVM
svm_model = SVC()
svm_model.fit(X_train, y_train)
y_pred_svm = svm_model.predict(X_test)
svm_accuracy = accuracy_score([y_test], y_pred_svm)

# Train and evaluate Logistic Regression
logistic_model = LogisticRegression(max_iter=1000)
logistic_model.fit(X_train, y_train)
y_pred_logistic = logistic_model.predict(X_test)
logistic_accuracy = accuracy_score([y_test], y_pred_logistic)

print("SVM Accuracy for test sample:", svm_accuracy)
print("Logistic Regression Accuracy for test sample:", logistic_accuracy)

SVM Accuracy for test sample: 1.0
Logistic Regression Accuracy for test sample: 1.0

In [118]:
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd

# Load the dataset
file = 'E:\\Python\\Data\\1000 educational data_final.csv'  # Update the path as necessary
df = pd.read_csv(file)

# Define the features and target variable
X = df[['final_marks', 'math_score', 'reading_score', 'science_score']]
y = df['passed']

# Scale the numerical data
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Specify the index of the test sample
test_index = 998  # Replace with the index you want to test

# Split the data
X_test = X_scaled[test_index].reshape(1, -1)
y_test = y.iloc[test_index]

X_train = np.delete(X_scaled, test_index, axis=0)
y_train = y.drop(index=test_index)

# Train and evaluate SVM
svm_model = SVC()
svm_model.fit(X_train, y_train)
y_pred_svm = svm_model.predict(X_test)
svm_accuracy = accuracy_score([y_test], y_pred_svm)

# Train and evaluate Logistic Regression
logistic_model = LogisticRegression(max_iter=1000)
logistic_model.fit(X_train, y_train)
y_pred_logistic = logistic_model.predict(X_test)
logistic_accuracy = accuracy_score([y_test], y_pred_logistic)

print("SVM Accuracy for test sample:", svm_accuracy)
print("Logistic Regression Accuracy for test sample:", logistic_accuracy)

SVM Accuracy for test sample: 1.0
Logistic Regression Accuracy for test sample: 1.0